/* Dancing Script */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Quantico */
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*
-------------------------------------------------------
|  MAIN RESET                                         |
-------------------------------------------------------
 */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  display: block;
}

:root {
  --FF-DANCING-SCRIPT: "Dancing Script", serif;
  --FF-ROBOTO: "Roboto", serif;
  --FF-QUANTICO: "Quantico", serif;

  /* colors */
  /* --PRIMARY-COLOR: oklch(41.93% 0.0451 96.22); */
  --PRIMARY-COLOR: #000;
  --ACCENT-COLOR: oklch(58.69% 0.141 271.37);
  --PRIMARY-WHITE: #fff;
}

html {
  font-size: 62.5%;
}

body {
  /* min-height: 100vh; */
  background-color: var(--PRIMARY-COLOR);
  /* color: #fff; */
  font-family: var(--FF-ROBOTO);
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
audio,
picture,
video {
  max-width: 100%;
  display: block;
}

svg {
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  overflow: hidden;
}
main {
  min-height: calc(100vh - 13.9rem - 7rem - 3rem);
}
/*
------------------------------------------
|   HEADER                               |
------------------------------------------
*/
.header {
  position: relative;
  display: flex;
  justify-content: center;
}
.header::after {
  content: "";
  position: absolute;
  min-width: 15rem;
  width: 17%;
  height: 4px;
  background-color: var(--ACCENT-COLOR);
  bottom: 8px;
  border-radius: 3333px;
  /* margin-inline: auto; */
}
.header__title {
  padding-block-start: 1rem;
  font-family: var(--FF-DANCING-SCRIPT);
  font-size: 8.6rem;
  color: #ffffff;
  text-shadow: 6px 6px 3px rgba(255, 255, 255, 0.311);
  text-align: center;
}
.header .container {
  position: relative;
}
/*
------------------------------------------
|   CALCULATOR                           |
------------------------------------------
*/
.calc__container {
  margin-block-start: 5rem;
  /* width: auto; */
  /* max-width: auto; */
  min-height: 50rem;
  background-color: rgb(116, 116, 116);
  box-shadow: 0 25px 0 rgb(88, 88, 88);
  padding: 2rem;
  border-radius: 2rem;
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.calc__button {
  height: 10rem;
}

.calc__screen {
  background-color: #cecece;
  width: 100%;
  height: 8rem;
  border-radius: 0.7rem;
  border: 2px solid #000000;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.52);
  font-size: 3rem;
  padding: 1rem;
  font-family: var(--FF-QUANTICO);
  text-align: right;
  letter-spacing: 0.1em;
  outline: none;
}

.calc__keypad {
  padding: 1rem;
  margin-block-start: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 7rem);
  gap: 0.8rem;
  place-content: center;
}
.calc__button {
  /* max-width: 5rem; */
  max-height: 6rem;
  border-radius: 11px;
  border: 2px solid black;
  font-size: 2rem;
  font-weight: 600;
  display: block;
}
.calc__button:active {
  scale: 0.9;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.676);
}
/*
------------------------------------------
|   FOOTER                               |
------------------------------------------
*/

.footer {
  margin-block-start: 9rem;
  background-color: #b8b8b8;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem;
}

.footer a {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  color: blue;
}
.footer svg {
  width: 2rem;
  height: 2rem;
}
